/* Stil general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
  background-color: #6c6c6c; /* Gri foarte deschis */
  color: #222222; /* Text aproape negru pentru contrast bun */
   
  line-height: 1.6;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
#main-header {
    background-color: #dfdfdf;
    color: #333;
    padding: 100px 0;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#main-header h1 {
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 700;
}

#main-header p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}

#main-header .btn {
    padding: 15px 30px;
    background-color: #444444;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    transition: background-color 0.3s ease;
}

#main-header .btn:hover {
    background-color: #0e75d7;
}

section {
  margin-bottom: 60px;
  padding: 20px 0;
}


/* Navigație */
nav ul {
  margin-top: 20px;
  margin-bottom: 60px;
}


nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

nav ul li a:hover {
    color: #1e90ff;
}

/* Secțiuni */
.section {
    padding: 80px 0;
    background-color: #fff;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
}

.section h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    font-size: 20px;
    margin-bottom: 15px;
}

/* Footer */
#main-footer {
    background-color: #fefefe;
    color: #333;
    padding: 40px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

/* Stiluri pentru fonturi și culori */
.highlight {
    color: #444444;
    font-weight: 700;
}

/* Stil pentru secțiunea About */
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 0;
}

.about-text {
    flex: 1;
}

.about-image {
    flex: 0.5;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.about-image img:hover {
    transform: scale(1.05);
}
