body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4c4c4c;
}

header {
    text-align: center;
    background-color: #0e207e;
    color: white;
    padding: 20px;
}

h1, h2 {
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
